body {
    background-color: white;
    margin: 0;
    padding: 0;
}

:root {
    --bgContexto: #202020;
    --tamanhoImagem: 100%;
}

.siteTop {
    background-color: var(--bgContexto);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.Header {


    z-index: 4;
    display: flex;
    height: 90px;
    width: 100vw;
    gap: 70%;
    align-items: center;
    padding-bottom: 30px;
    justify-content: space-evenly;
    overflow: hidden;


}

.Header #personagem {
    position: relative;
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    height: 60%;
    border-radius: 4px;
    min-width: 10%;
    max-width: 150%;
    align-items: center;
    text-align: center;
    font-family: Gabarito;
    font-size: 185%;
    left: 1%;
    border: solid 3px rgb(107, 107, 107);


    /* esse comando tira a seta do lado do select */
    -webkit-appearance: none;
}

.Header #logo {

    position: absolute;
    display: flex;
    min-width: 10%;
    width: 14%;
    max-width: 20%;
    max-width: 150px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 5;

}

.Header #loginCadastro {

    flex-direction: row;
    padding-right: 30px;
    font-size: large;
    display: flex;
    gap: 20px;
    text-wrap: nowrap;
    font-family: VIGA;


}

.cadastro {
    text-decoration: none;

}

.login {
    text-decoration: none;


}

.Titulo {
    position: absolute;
    color: white;
    font-family: ANTON SC;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;


}

.contexto {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 800px;
    width: 100%;
    text-align: center;
    font-family: lexend;
    position: relative;
    color: white;
    padding-top: 23px;


}



.contexto img {
    z-index: 1;
    height: auto;
    max-width: 600px;
    min-width: 100px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    margin-left: 2%;



}

.contexto .fundoBlur {
    position: absolute;
    left: 40vw;
    flex-basis: 600px;
    flex-shrink: 1;
    flex-grow: 13;
    min-width: 43vw;
    max-width: 83vw;
    overflow: hidden;
    height: 120%;
    z-index: 2;
    background-color: var(--bgContexto);
    filter: blur(20px);
}




.contexto span {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-right: 20px;
    font-size: 170%;
    width: 55%;
    text-align: center;
    text-align-last: ellipsis;
    border-color: #252627;
    overflow: hidden;
    height: 100%;
    text-decoration: none;
    z-index: 5;
    text-shadow: #252627 3px 3px 5px, #252627 -3px -3px 4px;



}





.Hub {
    border-top: solid #ce1a83;
    display: flex;
    z-index: 3;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: wrap;
    width: 100vw;
    font-family: lexend;
    font-weight: 800;
    font-size: 23px;
    text-align: center;
    height: 700px;
    
    



}


.HubBG {

    filter: blur();
    z-index: 2;
    background-color: #202020;
    position: absolute;
    display: flex;
    min-width: 100vw;
    min-height: 100%;

}

.Hub .square {
    z-index: 2;
    border-radius: px;
    width: 90vw;
    height: 630px;
    background-color: rgb(83, 249, 255);
}


.TextoMob {
    position: absolute;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-evenly;
    z-index: 4;
    align-self: center;

}

.Hub .qualidadesMobL {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-right: 50vw;
    align-items: center;
}

.Hub .qualidadesMobR {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-left: 50vw;
    align-items: center;
}



.Frases {
    justify-content: center;
    z-index: 1;
    min-width: 100vw;
    display: flex;


}

.FrasesTexto {

    display: flex;
    position: absolute;
    z-index: 5;
    color: aliceblue;
    align-self: center;

    font-size: 4vw;
    text-align: center;
    font-family: New Amsterdam;
    text-shadow: 2px 2px 2px black;

}

.Frases .bgVideo {


    z-index: 3;
    display: flex;
    width: 100vw;
    height: 100%;
    filter: blur(2px);


}

.Frases .Escuro {

    opacity: 76%;
    mix-blend-mode: overlay;
    background-color: black;
    width: 100vw;
    flex-basis: auto;
    height: 100%;
    filter: blur(2px);
    position: absolute;
    z-index: 4;
    display: flex;

}


.mob {
    display: flex;
    z-index: 3;
    position: absolute;
    justify-content: space-evenly;
    height: 574px;
    flex-shrink: 3;

}

.ONU {

    
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: relative;
    z-index: 1; /* Ajuste conforme necessário */
    background-color:#00689d;
    height: 300px;
    

}

.ONU img{
    margin-right: 0px;
    margin-left: auto;
    height: 300px;
  
}

.ONU #textoOnu{
    display: flex;
    margin-left: auto;
    margin-right: 2px;
    height: 35vh;
    width: 60vw;
    font-family: new Amsterdam;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.ONU span{
    color: rgb(46, 46, 46);
    font-size: 200%;

  
}